h5 {
  font-stretch: expanded;
  font-family: 'Sevillana', cursive;
  font-style: italic;
  font-size: 2.8em;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  color: indigo;
}

.landingPage {
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 92vh;
  background-image: url('../images/img_three.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
