.shoppingCart {
  background-image: url('../images/grass.jpg');
  position: relative;
  background-repeat: repeat;
}

.shoppingCart:before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.25);
}
