.skillsBackground {
  background-image: url('../images/round.png');
  position: relative;
  background-repeat: repeat;
  height: 92vh;
}

.skillsBackground:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255,255,255,0.25);
}
